/* Style tab links */
.tablink {
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 18px;
    width: 12%;
    border-radius: 20px;
    background-color: transparent;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  